Makefile.
Thumbs.db
.DS_Store
/.objs
/.deps
/installed
/api-config.mk
*.a
*.pc
/.metadata
/.vscode
*.code-workspace
.project
/Ev3_menu
.gitignore
commands.pdf
Makefile*
makelog
*.d
*.o
*.mk
*.xml
*.map
*.bat
*.txt
/projects/make/rt21_old
/projects/make/robot
/projects/make/Ev3_menu
Makefile
*.json
projects/make/rt21/2
*.awin
projects/make/menu/ev3_menu.c
projects/make/menu/main.c
projects/make/menu/main.h
projects/make/rt21/main.c
projects/make/rt21/main.c
Makefile
API/lightcal.cal
debug.log
